<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>all Users</title>
</head>
<body>
	<h2> Interact with the Community! </h2>

	<h2> <%=@user.length %> Registered Users:</h2>
	<% @user.each do |u| %>
		<li><strong><%= link_to u.username, user_path(u) %> </strong>, <i><%= u.home %> </li>
		<%end%>
		<p>
	<%= link_to 'See All the Posts', posts_path%>
</p> 
</body>
</html>