<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome Page</title>
</head>
<body>
<h1>
	Scoop

</h1>	

<form id="login">
	<div class="input">
		<input type="" placeholder="Username:">
		<input type="" placeholder="First Name:">
		<input type="" placeholder="Home:">
		<input type="" placeholder="Email:">
		<input type="" placeholder="Age:">
		<input type="" placeholder="Password:">
		<input type="Submit" value="Submit">
	</div>
	
</form>
</body>
</html>
